body{
    background-color: black;
    color: cyan;
    text-shadow: 8px 8px 5px cyan;
}
button{
    height: 27px;
    width: 100px;
    background-color: black;
    color: cyan;
    border-style: solid;
    border-width: 1px;
    text-shadow: 8px 8px 5px cyan;
}